{% extends 'base.html.twig' %}

{% block title %}Modification du profil Pro{% endblock %}

{% block body %}
    {% block content %}
        <div class="container">
            <a href="{{ path('account_password') }}" class="btn btn-primary mr-2 mb-2">Modifier mon mot de passe</a>
            <a href="{{ path('stageAdd') }}" class="btn btn-primary mr-2 mb-2">Ajouter un stage</a>
            <h1>Modification de votre profil Pro</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            {{ form_end(form) }}

        </div>
    {% endblock %}
{% endblock %}