{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
    {% block content %}
        <h1>Inscription : Veuillez saisir votre adresse email </h1>
        <hr />
        <div class="container">
            <h1>Vous êtes un particulier, vous cherchez un service</h1>
            <h1>Ou vous êtes un professionnel, vous proposez vos services</h1>
            <h3>Complétez ce formulaire pour nous rejoindre dès maintenant.</h3>

            {{ form_start(registrationTemp) }}

            {{ form_row(registrationTemp.email) }}

            {{ form_row(registrationTemp.password) }}

            {{ form_row(registrationTemp.type) }}

            {{ form_end(registrationTemp) }}

        </div>


    {% endblock %}
{% endblock %}
