<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/libraries/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/libraries/owl.carousel/assets/owl.carousel.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ asset('assets/libraries/colorbox/example1/colorbox.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ asset('assets/libraries/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/libraries/bootstrap-fileinput/fileinput.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/superlist.css') }}" rel="stylesheet" type="text/css" >

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/favicon.png') }}">

    <title>Bien-Etre - ISL WebDev</title>
</head>


<body>

<div class="page-wrapper">

    <header class="header">
        <div class="header-wrapper">
            <div class="container">
                <div class="header-inner">
                    <div class="header-logo">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('assets/img/logo.png')}}" alt="Logo">
                            <span>Bien-être</span>
                        </a>
                    </div><!-- /.header-logo -->

                    <div class="header-content">
                        <div class="header-top">
                            <ul class="header-nav-secondary nav nav-pills">
                                {% if app.user %} <!-- Si un utilisateur est connecté -->
                                    <li class="nav-item">
                                        <span class="btn btn-primary mr-2 mb-2">{{ app.user.name }}</span>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('account_profile') }}" >Mon compte</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('account_logout') }}" >Déconnexion</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{{ path('register_temp') }}" >Inscription</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('account_login') }}" >Se connecter</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                        <div class="header-bottom">


                            <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                                <li class="active">
                                    <a href="{{ path('home') }}">Home</a>

                                </li>

                                <li>
                                    <a href="{{ path('services') }}">Services</a>
                                </li>

                                <li>
                                    <a href="{{ path('providers') }}">Prestataires</a>
                                </li>
                            </ul>



                        </div><!-- /.header-bottom -->
                    </div><!-- /.header-content -->
                </div><!-- /.header-inner -->
            </div><!-- /.container -->
        </div><!-- /.header-wrapper -->
    </header><!-- /.header -->



    <div class="main">
        <div class="main-inner">
            <div class="container">
                {% for label, messages in app.flashes %}

                    <div class="container">
                        <div class="alert alert-{{ label }}">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

                <div class="content">
                    {% block content %}


                     <form method="get" action="{{ path('search') }}">
                         <div class="col-md-4">
                             <div class="form-group">
                                 <label for="search_service">Service</label>
                                 <select class="form-control" id="search_service" name="search_service" title="Choisir Service">
                                     {{ render(controller('App\\Controller\\ServicesController::list_services_search')) }}
                                 </select>
                             </div>

                         </div>

                         <div class="col-md-4">
                             <div class="form-group">
                                 <label for="search_cp">Localité</label>
                                 <select class="form-control" id="search_city" name="search_localite" title="Choisir la localité">
                                     {{ render(controller('App\\Controller\\LocaliteController::list_localite')) }}
                                 </select>
                             </div>
                         </div>

                         <div class="col-md-4">
                             <div class="form-group">
                                 <label for="search_name">Nom</label>
                                 <input type="text" class="form-control" name="search_name" id="search_name">
                             </div>
                         </div>


                             <button type="submit">Rechercher</button>


                     </form>



                    {% endblock %}



                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>About Superlist</h2>

                        <p>Superlist is directory template built upon Bootstrap and SASS to bring great experience in creation of directory.</p>
                    </div><!-- /.col-* -->

                    <div class="col-sm-4">
                        <h2>Contact Information</h2>

                        <p>
                            Your Street 123, Melbourne, Australia<br>
                            +1-123-456-789, <a href="#">sample@example.com</a>
                        </p>
                    </div><!-- /.col-* -->

                    <div class="col-sm-4">
                        <h2>Stay Connected</h2>

                        <ul class="social-links nav nav-pills">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul><!-- /.header-nav-social -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.footer-top -->


    </footer><!-- /.footer -->

</div><!-- /.page-wrapper -->

<script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/map.js') }}" type="text/javascript"></script>

<script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js') }}" type="text/javascript"></script>

<script src="{{ asset('assets/libraries/colorbox/jquery.colorbox-min.js') }}" type="text/javascript"></script>

<script src="{{ asset('assets/libraries/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/libraries/flot/jquery.flot.spline.js') }}" type="text/javascript"></script>

{#<script src="{{ asset('assets/libraries/bootstrap-select/bootstrap-select.min.js') }}" type="text/javascript"></script>#}

<script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;sensor=false" type="text/javascript"></script>

<script type="text/javascript" src="{{ asset('assets/libraries/jquery-google-map/infobox.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libraries/jquery-google-map/markerclusterer.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libraries/jquery-google-map/jquery-google-map.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/libraries/owl.carousel/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libraries/bootstrap-fileinput/fileinput.min.js') }}"></script>

<script src="{{ asset('assets/js/superlist.js') }}" type="text/javascript"></script>

</body>
</html>
